{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<body></<br>></br></<br>></br></<br>>
  <div align="center">
  <div align="center" class="border">
    <div class="header">
      <h3 class="word">ENTER THE PATIENT CREDENTIALS </h3>
    </div></<br>></<br>></br>
    <h2 class="word">
<form name="id" action="" onsubmit="return validateForm" method = "post">
    <label for="Patient ID">PATIENT ID : </label>
    <input type="text" id="Patient ID" name="Patient ID"><br><br>

    <button type="button" onclick=""> REQUEST ACCESS! </button> <br><br><br>

    <label for="OTP" required> OTP : </label>
    <input type="text" id="OTP" name="OTP" required><br><br>
</form>

<form name="update" action="{{ url_for('sub')}}" onsubmit="return validateForm" method = "post">
    <br>
    <input type="submit" value = " UPDATE "  ><br>
      </form>


<form name="view" action="{{ url_for('docu')}}" onsubmit="return validateForm" method = "post">
    <br>
    <input type="submit" value = " VIEW "  ><br>
      </form>
  </h2>
      </div>
      </div>
    </body>

{% endblock %}
