{% extends 'base.html' %}

{% block head %}
<h1>HOSPITALS</h1>
{% endblock %}

{% block body %}

<form name="docu" action="" onsubmit="return validateForm" method = "get">
  <br><br><br><br><br><br>
  <label for="patientid">PATIENT ID : </label>
  <input type="text" id="patientid" name="patientid"><br><br>
  <label for="patient_files">PATIENT FILES : </label>
  <input type="text" id="patient_files" name="patient_files"><br><br>
  <p class="worddark"> <a class="worddark" href="{{ url_for('signin')}}">sigin out</a></p>
</form>

{% endblock %}
