{% extends 'base.html' %}

{% block head %}
<h1> ENTER THE PATIENT CREDIENTIALS </h1>
{% endblock %}

{% block body %}

<form name="patient" action="" onsubmit="return validateForm" method = "post">
  <br><br><br><br><br><br>
  <label for="patient_id">PATIENT ID : </label>
  <input type="text" id="patient_id" name="patient_id"><br><br>
  <label for="phone no.">PHONE NO.: </label>
  <input type="text" id="phone no." name="phone no."><br><br>
  <label for="password">PASSWORD : </label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value = " GO! "><br>
</form>



{% endblock %}