{% extends 'base.html' %}

{% block head %}
<h1>Enter your Login Credentials</h1>
{% endblock %}

{% block body %}

<form name="doctor" action="{{ url_for('doctor') }}" onsubmit="return validateForm" method = "post">
  <br><br><br><br><br><br>
  <label for="username">USERNAME : </label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">PASSWORD : </label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value = " GO! "><br>
</form>


{% endblock %}