{% extends 'base.html' %}

{% block head %}
<h1>User Type</h1>
{% endblock %}

{% block body %}

<form name="inputs" action="" onsubmit="return validateForm" method = "post">
  <br><br><br><br><br><br>
  <label for="username">USERNAME : </label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">PASSWORD : </label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value = " GO! "><br>
</form>

// CODE for validation of the results

{% endblock %}